# ▄ ▄▖▄▖▄▖▖ ▖  ▖  ▖▄▖▄▖▄▖▄▖  ▖  ▖▄▖▄▖▖▖▄▖▖ ▖▄▖  ▖ ▄▖▄▖▄▖▖   ▄ ▄▖▄▖▖▖▄▖▄▖
# ▙▘▙▖▌ ▐ ▛▖▌  ▛▖▞▌▌▌▌ ▌▌▚   ▛▖▞▌▌▌▌ ▙▌▐ ▛▖▌▙▖  ▌ ▌▌▌ ▌▌▌   ▙▘▌▌▚ ▙▌▙▘▌
# ▙▘▙▖▙▌▟▖▌▝▌  ▌▝ ▌▛▌▙▖▙▌▄▌  ▌▝ ▌▛▌▙▖▌▌▟▖▌▝▌▙▖  ▙▖▙▌▙▖▛▌▙▖  ▙▘▛▌▄▌▌▌▌▌▙▖

########################################
# Common darwin bash + zsh config      #
########################################

{{ includeTemplate "machine_local/macOS/bash_zsh_common.sh" }}


########################################
#  Homebrew Completions                #
########################################

if type brew &> /dev/null; then

  # stash any GLOBIGNORE settings.
  globstash="${GLOBIGNORE}"
  GLOBIGNORE="git-prompt.sh" # Using Starship instead

  # Iterate over Homebrew installed completion scripts.
  # `*` will respect GLOBINGORE exclusions.
  for cf in "$(brew --prefix)/etc/bash_completion.d/"*; do
    [ -r "${cf}" ] && source "${cf}"
  done

  # Bring back previous GLOBIGNORE settings.
  GLOBIGNORE="${globstash}"

else
  errcho "Homebrew not installed. Skipping bash completions."
fi


########################################
#  Flyline                             #
########################################

{{ includeTemplate "machine_local/macOS/relink_flyline.sh" }}

enable -f "/opt/homebrew/lib/flyline.dylib" "flyline"

# Cursor
flyline set-cursor --backend flyline --style "#ff007f" --effect fade --effect-easing in-out-sine --interpolate-easing out-elastic --interpolate 1.33

# Right-side real-time clock
RPS1='$(pretty-git-prompt) | \e[01;32m\t\e[0m'

# Keybinds
flyline key bind Ctrl+p always=clearBuffer+prevHistoryEntry
flyline key bind Ctrl+n always=clearBuffer+nextHistoryEntry
flyline key bind Ctrl+b always=moveLeft
flyline key bind Ctrl+f always=moveRight


# ▄▖▖ ▖▄   ▖  ▖▄▖▄▖▄▖▄▖  ▖  ▖▄▖▄▖▖▖▄▖▖ ▖▄▖  ▖ ▄▖▄▖▄▖▖   ▄ ▄▖▄▖▖▖▄▖▄▖
# ▙▖▛▖▌▌▌  ▛▖▞▌▌▌▌ ▌▌▚   ▛▖▞▌▌▌▌ ▙▌▐ ▛▖▌▙▖  ▌ ▌▌▌ ▌▌▌   ▙▘▌▌▚ ▙▌▙▘▌
# ▙▖▌▝▌▙▘  ▌▝ ▌▛▌▙▖▙▌▄▌  ▌▝ ▌▛▌▙▖▌▌▟▖▌▝▌▙▖  ▙▖▙▌▙▖▛▌▙▖  ▙▘▛▌▄▌▌▌▌▌▙▖
