# ▄ ▄▖▄▖▄▖▖ ▖  ▖  ▖▄▖▄▖▄▖▄▖  ▖  ▖▄▖▄▖▖▖▄▖▖ ▖▄▖  ▖ ▄▖▄▖▄▖▖   ▄ ▄▖▄▖▖▖▄▖▄▖
# ▙▘▙▖▌ ▐ ▛▖▌  ▛▖▞▌▌▌▌ ▌▌▚   ▛▖▞▌▌▌▌ ▙▌▐ ▛▖▌▙▖  ▌ ▌▌▌ ▌▌▌   ▙▘▌▌▚ ▙▌▙▘▌
# ▙▘▙▖▙▌▟▖▌▝▌  ▌▝ ▌▛▌▙▖▙▌▄▌  ▌▝ ▌▛▌▙▖▌▌▟▖▌▝▌▙▖  ▙▖▙▌▙▖▛▌▙▖  ▙▘▛▌▄▌▌▌▌▌▙▖

########################################
# Common darwin bash + zsh config      #
########################################

{{ includeTemplate "machine_local/macOS/bash_zsh_common.sh" }}


########################################
#  Homebrew Completions                #
########################################

if type brew &> /dev/null; then

  # stash any GLOBIGNORE settings.
  globstash="${GLOBIGNORE}"
  GLOBIGNORE="git-prompt.sh" # Using Starship instead

  # Iterate over Homebrew installed completion scripts.
  # `*` will respect GLOBINGORE exclusions.
  for cf in "$(brew --prefix)/etc/bash_completion.d/"*; do
    [ -r "${cf}" ] && source "${cf}"
  done

  # Bring back previous GLOBIGNORE settings.
  GLOBIGNORE="${globstash}"

else
  errcho "Homebrew not installed. Skipping bash completions."
fi


########################################
#  Flyline                             #
########################################

create_flyline_dylib_link () {
  local flyline_version="$(brew list --versions flyline)"
  flyline_version="${flyline_version/flyline /}"

  local versioned_flyline_lib="/opt/homebrew/Cellar/flyline/${flyline_version}/lib/bash/flyline"
  local linked_flyline_lib="/opt/homebrew/lib/flyline.dylib"

  # Create link to flyline.dylib if it doesn't already exist.
  if [[ -L "${linked_flyline_lib}" ]]; then
    echo "Flyline is already linked to '$(readlink -f %R "${linked_flyline_lib}")'"
  else
    ln -s "${versioned_flyline_lib}" "${linked_flyline_lib}"
  fi
}


enable -f "/opt/homebrew/lib/flyline.dylib" "flyline"

# Cursor
flyline set-cursor --backend flyline --style "#ff007f" --effect fade --effect-easing in-out-sine --interpolate-easing out-elastic --interpolate 1.33

# Time-stamp previous commands
PS1_FINAL='[\D{%H:%M:%s}]> '

# Right-side real-time clock
RPS1='\e[01;32m\t\e[0m'

# Keybinds
flyline key bind Ctrl+p always=clearBuffer+prevHistoryEntry
flyline key bind Ctrl+n always=clearBuffer+nextHistoryEntry
flyline key bind Ctrl+b always=moveLeft
flyline key bind Ctrl+f always=moveRight


# ▄▖▖ ▖▄   ▖  ▖▄▖▄▖▄▖▄▖  ▖  ▖▄▖▄▖▖▖▄▖▖ ▖▄▖  ▖ ▄▖▄▖▄▖▖   ▄ ▄▖▄▖▖▖▄▖▄▖
# ▙▖▛▖▌▌▌  ▛▖▞▌▌▌▌ ▌▌▚   ▛▖▞▌▌▌▌ ▙▌▐ ▛▖▌▙▖  ▌ ▌▌▌ ▌▌▌   ▙▘▌▌▚ ▙▌▙▘▌
# ▙▖▌▝▌▙▘  ▌▝ ▌▛▌▙▖▙▌▄▌  ▌▝ ▌▛▌▙▖▌▌▟▖▌▝▌▙▖  ▙▖▙▌▙▖▛▌▙▖  ▙▘▛▌▄▌▌▌▌▌▙▖
