########################################
# Common bash + zsh config             #
########################################

{{ include "shell_common/bash_zsh_common.sh" }}


# ▄ ▄▖▄▖▄▖▖ ▖  ▄▖▄▖▖▖  ▄▖▄▖▄▖▄▖▄▖▄▖▄▖▄▖  ▄▖▄▖▖ ▖▄▖▄▖▄▖
# ▙▘▙▖▌ ▐ ▛▖▌  ▗▘▚ ▙▌  ▚ ▙▌▙▖▌ ▐ ▙▖▐ ▌   ▌ ▌▌▛▖▌▙▖▐ ▌
# ▙▘▙▖▙▌▟▖▌▝▌  ▙▖▄▌▌▌  ▄▌▌ ▙▖▙▖▟▖▌ ▟▖▙▖  ▙▖▙▌▌▝▌▌ ▟▖▙▌

# Show all zsh completions
function zsh-completions () {
  for command completion in ${(kv)_comps:#-*(-|-,*)}
  do
    printf "%-32s %s\n" $command $completion
  done | sort
}

# ▄▖▖ ▖▄   ▄▖▄▖▖▖  ▄▖▄▖▄▖▄▖▄▖▄▖▄▖▄▖  ▄▖▄▖▖ ▖▄▖▄▖▄▖
# ▙▖▛▖▌▌▌  ▗▘▚ ▙▌  ▚ ▙▌▙▖▌ ▐ ▙▖▐ ▌   ▌ ▌▌▛▖▌▙▖▐ ▌
# ▙▖▌▝▌▙▘  ▙▖▄▌▌▌  ▄▌▌ ▙▖▙▖▟▖▌ ▟▖▙▖  ▙▖▙▌▌▝▌▌ ▟▖▙▌


########################################
# Machine local templates              #
########################################

{{ if eq .chezmoi.os "darwin" }}
{{   include "shell_local/zsh_darwin" }}
{{ end }}


########################################
# Export PATH                          #
########################################

export PATH
