#   ▄ ▄▖▄▖▖▖▄▖▄▖
#   ▙▘▌▌▚ ▙▌▙▘▌
# ▗ ▙▘▛▌▄▌▌▌▌▌▙▖


########################################
# Common bash + zsh config             #
########################################

{{ include "shell_common/bash_zsh_common.sh" }}


########################################
# Machine local templates              #
########################################

{{ if eq .chezmoi.os "darwin" }}
{{   includeTemplate "./machine_local/bash_darwin.sh.tmpl" }}
{{ end }}


########################################
# Export PATH                          #
########################################

export PATH
