########################################
# Common bash + zsh config             #
########################################

{{ include "shell_common/bash_zsh_common.sh" }}


########################################
# Machine local templates              #
########################################

{{ if eq .chezmoi.os "darwin" }}
{{   include "shell_local/zsh_darwin" }}
{{ end }}


########################################
# Export PATH                          #
########################################

export PATH
