#   ▄▖▄▖▖▖▄▖▄▖
#   ▗▘▚ ▙▌▙▘▌
# ▗ ▙▖▄▌▌▌▌▌▙▖


########################################
# Common bash + zsh config             #
########################################

{{ includeTemplate "shell_common/bash_zsh_common.sh" }}


# ▄ ▄▖▄▖▄▖▖ ▖  ▄▖▄▖▖▖  ▄▖▄▖▄▖▄▖▄▖▄▖▄▖▄▖  ▄▖▄▖▖ ▖▄▖▄▖▄▖
# ▙▘▙▖▌ ▐ ▛▖▌  ▗▘▚ ▙▌  ▚ ▙▌▙▖▌ ▐ ▙▖▐ ▌   ▌ ▌▌▛▖▌▙▖▐ ▌
# ▙▘▙▖▙▌▟▖▌▝▌  ▙▖▄▌▌▌  ▄▌▌ ▙▖▙▖▟▖▌ ▟▖▙▖  ▙▖▙▌▌▝▌▌ ▟▖▙▌


########################################
# Show all zsh completions             #
########################################

function zsh-completions () {
  for command completion in ${(kv)_comps:#-*(-|-,*)}
  do
    printf "%-32s %s\n" $command $completion
  done | sort
}


########################################
# Zoxide                               #
########################################

export _ZO_ECHO='1'
eval "$(zoxide init zsh)"


# ▄▖▖ ▖▄   ▄▖▄▖▖▖  ▄▖▄▖▄▖▄▖▄▖▄▖▄▖▄▖  ▄▖▄▖▖ ▖▄▖▄▖▄▖
# ▙▖▛▖▌▌▌  ▗▘▚ ▙▌  ▚ ▙▌▙▖▌ ▐ ▙▖▐ ▌   ▌ ▌▌▛▖▌▙▖▐ ▌
# ▙▖▌▝▌▙▘  ▙▖▄▌▌▌  ▄▌▌ ▙▖▙▖▟▖▌ ▟▖▙▖  ▙▖▙▌▌▝▌▌ ▟▖▙▌


########################################
# Machine local templates              #
########################################

{{ if eq .chezmoi.os "darwin" }}
{{   includeTemplate "machine_local/macOS/zshrc.tmpl" }}
{{ end }}


########################################
# Export PATH                          #
########################################

export PATH


########################################
# Google Cloud Work Config             #
########################################

{{ includeTemplate "machine_local/macOS/work_google_cloud_zsh.sh" }}

# ▄▖▖ ▖▄     ▄▖▄▖▖▖▄▖▄▖
# ▙▖▛▖▌▌▌    ▗▘▚ ▙▌▙▘▌
# ▙▖▌▝▌▙▘  ▗ ▙▖▄▌▌▌▌▌▙▖
