#   ▄ ▄▖▄▖▖▖▄▖▄▖
#   ▙▘▌▌▚ ▙▌▙▘▌
# ▗ ▙▘▛▌▄▌▌▌▌▌▙▖


########################################
# Common bash + zsh config             #
########################################

{{ includeTemplate "shell_common/bash_zsh_common.sh" }}


########################################
# Machine local templates              #
########################################

{{ if eq .chezmoi.os "darwin" }}
{{   includeTemplate "machine_local/macOS/bashrc.tmpl" }}
{{ end }}


########################################
# Export PATH                          #
########################################

export PATH
