# ▄ ▄▖▄▖▄▖▖ ▖  ▖  ▖▄▖▄▖▄▖▄▖  ▖  ▖▄▖▄▖▖▖▄▖▖ ▖▄▖  ▖ ▄▖▄▖▄▖▖   ▄ ▄▖▄▖▖▖▄▖▄▖
# ▙▘▙▖▌ ▐ ▛▖▌  ▛▖▞▌▌▌▌ ▌▌▚   ▛▖▞▌▌▌▌ ▙▌▐ ▛▖▌▙▖  ▌ ▌▌▌ ▌▌▌   ▙▘▌▌▚ ▙▌▙▘▌
# ▙▘▙▖▙▌▟▖▌▝▌  ▌▝ ▌▛▌▙▖▙▌▄▌  ▌▝ ▌▛▌▙▖▌▌▟▖▌▝▌▙▖  ▙▖▙▌▙▖▛▌▙▖  ▙▘▛▌▄▌▌▌▌▌▙▖

########################################
# Common darwin bash + zsh config      #
########################################

{{ include "machine_local/macOS/bash_zsh_common.sh" }}


########################################
#  Homebrew Completions                #
########################################

if type brew &> /dev/null; then

  # stash any GLOBIGNORE settings.
  globstash="${GLOBIGNORE}"
  GLOBIGNORE="git-prompt.sh" # Using Starship instead

  # Iterate over Homebrew installed completion scripts.
  # `*` will respect GLOBINGORE exclusions.
  for cf in "$(brew --prefix)/etc/bash_completion.d/"*; do
    [ -r "${cf}" ] && source "${cf}"
  done

  # Bring back previous GLOBIGNORE settings.
  GLOBIGNORE="${globstash}"

else
  errcho "Homebrew not installed. Skipping zsh completions."
fi


########################################
#  Starship                            #
########################################

eval "$(starship init bash)"

# ▄▖▖ ▖▄   ▖  ▖▄▖▄▖▄▖▄▖  ▖  ▖▄▖▄▖▖▖▄▖▖ ▖▄▖  ▖ ▄▖▄▖▄▖▖   ▄ ▄▖▄▖▖▖▄▖▄▖
# ▙▖▛▖▌▌▌  ▛▖▞▌▌▌▌ ▌▌▚   ▛▖▞▌▌▌▌ ▙▌▐ ▛▖▌▙▖  ▌ ▌▌▌ ▌▌▌   ▙▘▌▌▚ ▙▌▙▘▌
# ▙▖▌▝▌▙▘  ▌▝ ▌▛▌▙▖▙▌▄▌  ▌▝ ▌▛▌▙▖▌▌▟▖▌▝▌▙▖  ▙▖▙▌▙▖▛▌▙▖  ▙▘▛▌▄▌▌▌▌▌▙▖
