# ▄ ▄▖▄▖▄▖▖ ▖  ▖  ▖▄▖▄▖▄▖▄▖  ▖  ▖▄▖▄▖▖▖▄▖▖ ▖▄▖  ▖ ▄▖▄▖▄▖▖   ▄▖▄▖▖▖▄▖▄▖
# ▙▘▙▖▌ ▐ ▛▖▌  ▛▖▞▌▌▌▌ ▌▌▚   ▛▖▞▌▌▌▌ ▙▌▐ ▛▖▌▙▖  ▌ ▌▌▌ ▌▌▌   ▗▘▚ ▙▌▙▘▌
# ▙▘▙▖▙▌▟▖▌▝▌  ▌▝ ▌▛▌▙▖▙▌▄▌  ▌▝ ▌▛▌▙▖▌▌▟▖▌▝▌▙▖  ▙▖▙▌▙▖▛▌▙▖  ▙▖▄▌▌▌▌▌▙▖

########################################
# Common darwin bash + zsh config      #
########################################

{{ include "machine_local/macOS/bash_zsh_common.sh" }}


########################################
#  Homebrew Completions                #
########################################

# You may also need to force rebuild `zcompdump`:
#
#    rm -f ~/.zcompdump; compinit
#
# Run the following if you get "zsh compinit: insecure directories" warnings:
#
#    chmod go-w "$HOMEBREW_PREFIX/share"
#    chmod -R go-w "$HOMEBREW_PREFIX/share/zsh"

if type brew &> /dev/null; then
 FPATH=$(brew --prefix)/share/zsh-completions:$FPATH
 autoload -Uz compinit
 compinit
else
  errcho "Homebrew not installed. Skipping zsh completions."
fi


########################################
#  Starship                            #
########################################

eval "$(starship init zsh)"


########################################
# Common darwin bash + zsh config      #
########################################

{{ include "machine_local/macOS/work_google_cloud_zsh.sh" }}

# ▄▖▖ ▖▄   ▖  ▖▄▖▄▖▄▖▄▖  ▖  ▖▄▖▄▖▖▖▄▖▖ ▖▄▖  ▖ ▄▖▄▖▄▖▖   ▄▖▄▖▖▖▄▖▄▖
# ▙▖▛▖▌▌▌  ▛▖▞▌▌▌▌ ▌▌▚   ▛▖▞▌▌▌▌ ▙▌▐ ▛▖▌▙▖  ▌ ▌▌▌ ▌▌▌   ▗▘▚ ▙▌▙▘▌
# ▙▖▌▝▌▙▘  ▌▝ ▌▛▌▙▖▙▌▄▌  ▌▝ ▌▛▌▙▖▌▌▟▖▌▝▌▙▖  ▙▖▙▌▙▖▛▌▙▖  ▙▖▄▌▌▌▌▌▙▖
